/*~~~~~~~ Top-level styling ~~~~~~~*/
html {
	background-color:rgb(184, 184, 183);
	color:rgb(90, 101, 113);
}

.App {
	transition-duration:200ms;
	-webkit-transition-duration:200ms;
	background-color:white;
	border-radius:5px;
	max-width:800px;
	padding:15px;
	margin:0;
}

.App *{
	transition-duration:200ms;
	-webkit-transition-duration:200ms;
}

.App:hover {
	margin:15px;
	box-shadow:5px 5px 10px rgba(55, 55, 55, 0.55);
}


.header:hover > h3 {
	color:rgb(18, 182, 128);
}
.header {
  display: flex;

  /* flex-direction: column;
  justify-content: flex-start; */
	flex-direction:row;

	align-items:center;
	/* align-items:flex-end; */

	justify-content:space-between;

	text-align:center;
	border-bottom-width:4px;
	border-bottom-style:outset;
}

.header * {
	margin:0;
	padding:0;
}


/* .header > h3 {
	padding-bottom:2px;
} */

h1, h3{
	margin:auto;
	font-weight:400;
}
h3{
	font-weight:300;
}

/*~~~~~~~ BODY ~~~~~~~*/
.body{
	max-width:100vw;
	display:flex;
	flex-direction:row-reverse;
	justify-content:flex-end;
	flex-wrap:wrap;
}

.body > .left {
	min-width:fit-content;
	flex-grow:1;
	flex-shrink:0;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	border-right-width:3px;
	border-right-style:outset;
}

.body > .right {
	flex-shrink:0;
	flex-grow:1;
	width:65%;
	min-width:300px;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	padding:0;
	padding-left:15px;
	margin:0;
}


/*~~~~~~~ Body Sections ~~~~~~~*/
.section {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

.section > h3 {
	margin-top:15px;
	margin-right:15px;
	margin-left:0px;
	margin-bottom:5px;
	border-bottom-width:2px;
	border-bottom-style:outset;
	text-align:left;
	width:90%;
	margin-right:calc(100% - 15px);
}

.body > .right > .section > h3{
	width:100%;
}

.row {
	display:flex;
	flex-direction:row;
}

.section .row::before{
	margin-left:-100%;
}
.section .row::after{
	margin-left:0;
}

.section .row {

	margin-top:3px;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	font-size:medium;
	font-size:14px;
	width:calc(100% - 5px);
}

.section a {

	border-width:1px;
	border-color:transparent;
	border-style:solid;
	border-radius:5px;
	padding:2px;
}

.section a:hover {

	border-color:rgb(18, 182, 128);
}

.section .row:hover svg > path{

	fill:rgb(18, 182, 128);
}

.section .row * {
	height:100%;
	cursor:pointer;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

.section > ul {
	padding:0px;
}

.section > .row > svg {
	height:20px;
	width:20px;
	font-size:14px;
	padding-right:5px;
	text-align:center;
}


.section > p {
	margin:0;
	font-weight:500;
	font-size:small;
	max-width:100%;
}

/*~~~~~~~ Specific Experience  Section ~~~~~~~*/

.experience {
	width:100%;
	margin:0;
	font-size:small;
	margin-bottom:12px;
}


.experience:hover > .title {
	color:rgb(18, 182, 128);
}
.experience > .title {
	transition-duration:200ms;
	-webkit-transition-duration:200ms;
	font-size:medium;
	margin:0;
}

.experience > .info {
	font-size:medium;
}

.experience > p {
	padding:0;
	margin-bottom:10px;
	margin-top:5px;
}

.experience >  ul {
	list-style-position:outside;
	padding:0;
	margin:0;
	margin-block-end:0px;
	margin-inline-start:1em;
	margin-block-start:0;
}

.experience > ul > li {
 padding-left:4px;
 font-weight:600;
 margin-bottom:4px;
}
